#!/bin/sh

# https://github.com/sharkdp/fd
if [ -e "fdfind" ]; then
	alias fd=fdfind
fi

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"

# On GNU/Linux alias xdg-open
if [[ "$OSTYPE" == "linux-gnu" ]]; then
	alias open="xdg-open &>/dev/null"
fi
