#!/bin/sh

# fzf
export FZF_DEFAULT_COMMAND="fd --hidden"
export FZF_ALT_C_COMMAND="fd --type d"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_DEFAULT_OPTS="--layout=reverse --inline-info"
