#!/bin/sh

# Node Version Manager
# ====================

export NVM_DIR="$(cd ~/.nvm && pwd -P)"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # This loads nvm bash_completion
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" 
fi
