#asvetliakov\.vscode-neovim {
	color: #f9e2af;
}

#asvetliakov\.vscode-neovim[aria-label="-- NORMAL --"] {
	background: #7aa2f7;
	color: black;
}

#asvetliakov\.vscode-neovim[aria-label="-- INSERT --"] {
	background: #9ece6a;
	color: black;
}

#asvetliakov\.vscode-neovim[aria-label="-- VISUAL --"],
#asvetliakov\.vscode-neovim[aria-label="-- SELECT --"] {
	background: #bb9af7;
	color: black;
}

#asvetliakov\.vscode-neovim[aria-label="-- REPLACE --"],
#asvetliakov\.vscode-neovim[aria-label="-- VREPLACE --"] {
	background: #f7768e;
	color: black;
}
