/* Command Palette */
.quick-input-widget {
	top: 35% !important;
}

.quick-input-widget .quick-input-titlebar {
	display: none;
}

/* File explorer */
#workbench\.parts\.sidebar:not(:hover) .actions-container {
	display: none;
}

/* Editor */
ul.actions-container[aria-label="Editor actions"] {
	display: none;
}

/* Status bar */
.statusbar #status\.problems,
.statusbar #status\.feedback,
.statusbar #status\.notifications {
	display: none;
}

/* VSCode Neovim */

/* FIXME: The NORMAL mode string is injected by patching the neovim
extension. Ideally, this can be created as a pseudo element instead
after v1.74.0 */
.statusbar #asvetliakov\.vscode-neovim[aria-label="-- NORMAL --"] {
	background: #7aa2f7;
	color: black;
	order: -1;
	/* content: "-- NORMAL --";
	padding: 0px 8px; */
}

.statusbar #asvetliakov\.vscode-neovim[aria-label="-- INSERT --"] {
	background: #9ece6a;
	color: black;
	order: -1;
}

.statusbar #asvetliakov\.vscode-neovim[aria-label^="-- VISUAL "] {
	background: #bb9af7;
	color: black;
	order: -1;
}

.statusbar #asvetliakov\.vscode-neovim[aria-label$="REPLACE --"] {
	background: #f7768e;
	color: black;
	order: -1;
}

.statusbar #asvetliakov\.vscode-neovim[aria-label^="-- SELECT "] {
	background: red;
	color: black;
	order: -1;
}

.statusbar #asvetliakov\.vscode-neovim {
	color: #f9e2af;
}
